/* color palette 
primary-color: #251f20; #34495e;
font-color: #cccaa9, #E6E2DD;
hover: #979797;
button-background-color: #aad4ff;
button-border: 2px solid #0000004D;
box-shadow: 5px 10px 10px #1d2834;
button-text-color: white;
project-link color: #4200bc;
navigation-item-active: #979797;
button-hover-focus: #233a51cf;
header-footer-color: #c6c6c2;
*/

/* css variables */
:root {
  --primary-color: #ececec;
  --secondary-color: #0c1216;
  --title-color: #ffbb00ec;
  --drop-back: #fad56fec;
  --button-background-color: #aad4ff;
  --button-text-color: #34495e;
  --button-border: 2px solid #0000004D;
  --box-shadow: 5px 10px 10px #0c1216;
  --project-link-color: #34495e;
  --navigation-item-active: #353535b0;
  --button-hover-focus: #233a51cf;
  --hover: #0000001c; 
}

* {
  box-sizing: border-box;
}

.page-header {
  display: flex;
  flex-direction: row;
  height: 100px;
  position: fixed;
  width: 100%;
  background-image: url("/img/bckg2.png");
}

.page-header__item {
  flex-grow: 1;
  font-size: 15px;
  text-align: right;
}

body {
  background-image: url("/img/bckg2.png");
  font-family: 'Source Code Pro', 'monospace';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.page {
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  padding-bottom: 60px;
}

a {
  color: var(--secondary-color);
  transition: opacity 0.5s;
}

a:hover,
a:focus {
  text-decoration: none;
  color: var(--secondary-color);
}

a.cv-button:before,
a.cv-button:after {
  opacity: 0;
  transition: all 0.5s;
}

.cv-button:before {
  content: '<';
  color: var(--secondary-color);
  left: 0px;
  transform: translateX(10px);
}

.cv-button:after {
  content: '>';
  color: var(--secondary-color);
  right: 0px;
  transform: translateX(-10px);
}

a.cv-button:hover:before,
a.cv-button:hover:after {
  opacity: 1;
  transform: translateX(0px);
  text-decoration: none;
}

/*  profile link hover effect */
a.profile-link:before,
a.profile-link:after {
  opacity: 0;
  transition: all 0.5s;
}

.profile-link:before {
  content: '<';
  color: var(--secondary-color);
  left: 0px;
  transform: translateX(10px);
}

.profile-link:after {
  content: '>';
  color: var(--secondary-color);
  right: 0px;
  transform: translateX(-10px);
}

a.profile-link:hover:before,
a.profile-link:hover:after {
  opacity: 1;
  transform: translateX(0px);
  text-decoration: none;
}

a:active {
  color: var(--secondary-color);
  text-decoration: underline;
}

button,
.button {
  background-color: var(--button-background-color);
  border: none;
  border-bottom: var(--button-border);
  border-radius: 3px;
  color: var(--button-text-color);
  display: inline-block;
  font-family: inherit;
  margin: auto;
  padding: 10px;
  text-decoration: none;
  transition: opacity 0.5s;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  color: var(--button-hover-focus);
  cursor: pointer;
  box-shadow: 0 0.5em 0.5em -0.4em var(--secondary-color);
  transform: translateY(-0.25em);
}

.navigation-list {
  display: flex;
  list-style-type: none;
  position: absolute;
  right: 20px;
  top: 20px;
}

.navigation-list li {
  display: flex;
  margin-left: 15px;
}

.navigation-list__item {
  display: flex;
  width: auto;
  color: var(--secondary-color);
  text-decoration: none;
  text-align: center;
}

.navigation-list__item:before,
.navigation-list__item:after {
  opacity: 0;
  transition: all 0.5s;
}

.navigation-list__item:before {
  content: '<';
  color: var(--secondary-color);
  left: 0px;
  transform: translateX(10px);
}

.navigation-list__item:after {
  content: '>';
  color: var(--secondary-color);
  right: 0px;
  transform: translateX(-10px);
}

a.navigation-list__item:hover:before,
a.navigation-list__item:hover:after {
  opacity: 1;
  transform: translateX(0px);
  text-decoration: none;
}

.drop-menu {
  display: none;
  position: absolute;
  min-width: 200px;
  background-color: var(--navigation-item-active);
  z-index: 1;
  color: var(--primary-color);
}

a.drop-menu {
  color: var(--primary-color);
  padding: 12px 16px;
  margin: 5px 8px;
  text-decoration: none;
  display: block;
}

.drop-menu a:hover {
  background-color: var(--hover);
}

.drop:hover .drop-menu {
  display: flex;
  flex-direction: column;
}

.drop-menu__item {
  font-size: 16px;
  padding: 5px;
  max-width: auto;
  color: var(--primary-color);
  
}

.drop-title {
  font-size: 16px;
  font-weight: bold;
  margin: 5px;
  color: var(--title-color);
}

.profile {
  color: var(--secondary-color);
  margin: 0 auto;
  max-width: 720px;
  padding-top: 200px;
  text-align: left;
}

.profile__portrait {
  border-radius: 50%;
  float: left;
  height: auto;
  max-width: 300px;
  width: 100%;
  margin: 20px 20px 20px 20px;
  text-align: center;
  /* box-shadow: var(--box-shadow); */
}

#greeting {
  text-align: center;
}

p#about-me,
p.profile {
  padding: 20px;
}

#about-me{
  width: 750px;
}

.profile-links {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 300px 0 300px;
}
.tools-sec {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 20px 0 40px;
}

#frontend {
  margin-right: 40px;
}

ul#backend {
  width: 190px;
}

#tools {
  margin-left: 40px;
}

#familiarity{
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

#sec-title {
  text-align: center;
  padding: 10px;
  margin: 20px;
  font-size: 1.5em;
}

hr {
  border: none;
  /* Remove default border */
  height: 1px;
  /* Set the height of the line */
  border-top: 4px dotted var(--secondary-color);
  /* Set the dotted line style */
  margin: 20px 0;
  /* Adjust the margin as needed */
}
.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 20px 0 40px;
}

#contact-info {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}

#gmail {
  margin-right: 40px;
}

#linkedin {
  margin-left: 40px;
}

h1#works {
  text-align: center;
}

/* start grid fallback */
/* .project-list__item {
    display: inline-block;
    width: auto;
} */

/* end grid fallback*/

.about {
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 200px;

}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  list-style-type: none;
  font-weight: bold;
  padding: 0;
}

.about-text {
  font-weight: bold;
  text-align: center;
}


.about-me__item li {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: center;
  justify-items: center;
}

.about-me__item {
  font-weight: normal;
  text-align: center;
}

.page-footer {
  align-items: center;
  background-image: url("/img/bckg2.png");
  color: var(--secondary-color);
  clear: both;
  display: flex;
  flex-direction: column;
  height: 100px;
  position: relative;
  width: 100%;
}

.grow {
  transition: all .2s ease-in-out;
}

.icon:hover,
.icon:focus {
  transform: scale(1.5);
}

.address {
  margin: auto 20px;
  max-width: 700px;
  padding-top: 200px;
  padding-bottom: 100px;
  text-align: left;
}

.contact {
  color: var(--secondary-color);
}

.contact-form {
  color: var(--secondary-color);
  display: flex;
  margin: 0 40%;
  flex-direction: column;
  padding: 10px;
  border: 2px solid var(--secondary-color);
}

.project-link {
  color: var(--project-link-color);
  text-decoration: none;
  align-items: center;
  text-align: center;
}

.project-link:before, 
.project-link:after {
  opacity: 0;
  transition: all 0.5s;
}

.project-link:before {
  content: '<';
  color: var(--secondary-color);
  left: 0px;
  transform: translateX(10px);
}

.project-link:after {
  content: '>';
  color: var(--secondary-color);
  right: 0px;
  transform: translateX(-10px);
}

a.project-link:hover:before,
a.project-link:hover:after {
  opacity: 1;
  transform: translateX(0px);
  text-decoration: none;
}

#project-link {
  text-align: center;
}

.project-link:focus {
  color: var(--hover);
  text-decoration: none;
  font-weight: bold;
}

.project-list {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 20px;
  margin-top: 80px;
  align-items: center;
  justify-content: space-between;
}

img.project-pic {
  border-radius: 2%;
  height: auto;
  float: left;
  max-width: 600px;
  width: 100%;
  margin: auto;
  text-align: center;
}

h4 {
  text-align: center;
  font-weight: bold;
}

.chat {
  padding-left: 300px;
  max-width: 100%;
  list-style: disc;
}

.tech {
  list-style-type: none;
  margin-left: 80%;
}

.case-study {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  padding: 120px;
}

#back {
  font-weight: bold;
  font-style: italic  ;
  color: var(--drop-back); 
}